<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>A blog dedicated to learning new languages and sharing experience!</p>
   </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>